@inject Serenity.ITextLocalizer Localizer
@{
    ViewData["Title"] = "Planner Inputs";
}

@section Head {
}

@section ContentHeader {
    <h1>@ViewData["Title"]<small></small></h1>
}



<div class="panels-container">
</div>

@* <script type="module">
    
    import pageInit from '@Html.ResolveWithHash("~/esm/Modules/Planner/PlannerInputMaster/PlannerInputMasterWizardPage.js")';
    pageInit();
</script> *@